<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-2">
    <div class="col-8 offset-3">
      <h3><%= listing.title %></h3>
    </div>
    <div class="show-card card col-6 offset-3 listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-image"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text"> Owned By:<i><%= listing.owner.username %></i></p>

        <p class="card-text"><%= listing.description %> </p>
        <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p> 
        <p class="card-text"><b>Location :</b><%= listing.location %> </p>
        <p class="card-text"><b>Country :</b><%= listing.country %></p>
      </div>
    </div>
  </div>
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3"
      >Edit</a
    >
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn bg-black btn-dark offset-5">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3 mb-3">
    <hr />
    <h4>Leave a review</h4>

    <form action="/listings/<%=listing._id%>/reviews" method="POST">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          class="form-control"
          name="review[comment]"
          id="comment"
          cols="30"
          rows="7"
        ></textarea>
      </div>
      <button type="submit" class="btn bg-black btn-dark">Submit</button>
    </form>
    <hr />
    <p><b>All reviews</b></p>
    <div class="row">
      <% for(review of listing.reviews) { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> stars</p>
        </div>
        <form
          method="POST"
          action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
        >
          <button class="btn btn-sm btn-dark bg-black mb-3">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</body>
